/* 内容区 */

.ssy-content {
    box-sizing: border-box;
    position: relative;
    overflow-y: auto;
}

/* 根据header和navbar自适应内容区域高度 */
.ssy-header~.ssy-content {
    padding-top: 2.3rem;
}

.ssy-navbar~.ssy-content {
    padding-bottom: 2.5rem;
}

/* 内容分區 -- Panel面板 */
/* Panel標題 */
.ssy-content .ssy-panel-title {
    height: 1.8rem;
    line-height: 1.8rem;
    padding-left: 1rem;
    color: #aaa;
    background: #fff;
    border-top: 1px solid #eee;
    font-size: 14px;
    font-weight: normal;
}

/* 标题导航 */
.ssy-content .ssy-panel-title>.ssy-panel-link {
    float: right;
    margin-right: 1rem;
    color: #aaa;
}

/* Panel内容 */
.ssy-content .ssy-panel-body {
    position: relative;
    margin-bottom: .6rem;
    padding: .6rem 1rem;
    background: #fff;
    overflow: hidden;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

/* 内容區域是否有内邊距 */
.ssy-content .ssy-panel-body.no-padding {
    padding: 0;
}
